.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    margin: 2rem;
    height: 75px;
    width: 75px;
    fill: #1842F7;
    background: #0C1523;
    padding: 0.7rem;
    border-radius: 1rem;
}
