.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    margin: 2rem;
    height: 75px;
    width: 75px;
    fill: #fff;
    background: #1842F7;
    padding: 0.7rem;
    border-radius: 1rem;
}


.background {
  background-color: #0C1523; /* Replace with your desired color */
  border-radius: 10px;
  margin: 8px;
  width: 100%; /* This will allow the items to adjust their widths */
  color: white;
}